.content-container {
  margin: unset;
  padding: 0;
  padding-top: 5%;
  max-width: 100vw;
}

.content-container .row .col-sm-5 .left-content {
  background-image: url("https://cdn.shopify.com/s/files/1/0025/5082/5007/files/h2-banner3.jpg?v=1538736672");
  height: 893px;
  width: 562px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.content-container .row .col-sm-7 .right-content {
  padding-left: 2%;
  padding-right: 10%;
}

.content-container .row .col-sm-7 .right-content .bottom-title {
  position: relative;
}

.content-container .row .col-sm-7 .right-content .bottom-title .shop-now {
  position: absolute;
  background-color: #fff;
  z-index: 3;
  top: -15px;
  left: 8%;
  padding: 0 20px;
  font-weight: 400;
  font-size: 19px;
  cursor: pointer;
  transition: all .3s;
}

.content-container .row .col-sm-7 .right-content .bottom-title .shop-now :hover {
  color: #f76b6a;
  transition: all .3s;
}

.content-container .row .col-sm-7 .right-content .bottom-title .bottom-title-hr {
  display: inline-block;
  position: absolute;
  z-index: 1;
  padding: 0 20px;
  font-weight: 500;
  background: #cec8c8;
  margin: 0 25px;
  font-size: 19px;
  height: 1px;
  width: 100%;
}

.content-container .row .col-sm-7 .right-content .products .product-item {
  margin-bottom: 30%;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-img-wrap {
  position: relative;
  cursor: pointer;
  transition: all .3s;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-img-wrap .add-cart {
  position: absolute;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  pointer-events: none;
  z-index: 16;
  right: 14px;
  bottom: -18px;
  transform: translate3d(20px, 0, 0);
  opacity: 0;
  visibility: hidden;
  line-height: 38px;
  border-radius: 50%;
  top: auto;
  transition: all .4s ease-in-out;
  background-color: #f76b6a;
  color: #fff;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-img-wrap .quick-view {
  display: block;
  width: 40px;
  height: 40px;
  pointer-events: none;
  display: block;
  position: absolute;
  z-index: 6;
  background-color: #383838;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  right: 14px;
  top: 50px;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transform: translate3d(20px, 0, 0);
  transition: all .4s ease-in-out;
  visibility: hidden;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-img-wrap .quick-view::after {
  content: attr(aria-label);
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-img-wrap img {
  width: 100%;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-img-wrap .product-sale {
  position: absolute;
  top: 15px;
  left: 0;
  letter-spacing: .4px;
  font-size: 12px;
  background-color: #95bf47;
  color: white;
  padding: 0 10px;
  z-index: 17;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-img-wrap .product-img-hover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-in-out;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-img-wrap:hover .product-img-hover {
  opacity: 1;
  visibility: unset;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-img-wrap:hover .quick-view {
  right: 35px;
  opacity: 1;
  visibility: unset;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-img-wrap:hover .add-cart {
  opacity: 1;
  visibility: unset;
  right: 35px;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-info-wrap .product-name {
  padding-top: 10px;
  margin-bottom: 5px;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-info-wrap .product-name a {
  font-size: 16px;
  letter-spacing: .3px;
  line-height: 18px;
  font-weight: 400;
  display: block;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-info-wrap .product-name :hover {
  color: #f76b6a;
  cursor: pointer;
  transition: all .3s;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-info-wrap .product-price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-info-wrap .product-price .product-price-content {
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  display: block;
  color: #333;
  font-size: 18px;
  font-weight: 400;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-info-wrap .product-price .product-price-content del {
  padding-right: 5px;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-info-wrap .product-price .product-price-content ins {
  font-weight: 500;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-info-wrap .product-price .product-color {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content-container .row .col-sm-7 .right-content .products .product-item .product-info-wrap .product-price .product-color span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  display: block;
  margin-left: 5px;
}

.content-container .product-adv .product-adv-content {
  margin: 120px 70px;
  max-height: 180px;
  height: 179px;
}

.content-container .product-adv .product-adv-content .row {
  height: 100%;
}

.content-container .product-adv .product-adv-content .row .half-adv {
  position: relative;
  height: 100%;
}

.content-container .product-adv .product-adv-content .row .half-adv .adv-img {
  position: absolute;
}

.content-container .product-adv .product-adv-content .row .half-adv .adv-img img {
  display: block;
  width: 100%;
}

.content-container .product-adv .product-adv-content .row .half-adv .adv-info {
  position: absolute;
  top: 33%;
  left: 10%;
}

.content-container .product-adv .product-adv-content .row .half-adv .adv-info h6 {
  color: #999;
}

.content-container .product-adv .product-adv-content .row .half-adv .adv-info h5 {
  color: white;
  font-size: 27px;
}

.content-container .product-adv .product-adv-content .row .half-adv .adv-info h5:nth-child(2) {
  font-size: 40px;
  font-weight: 700;
}

.content-container .product-adv .product-adv-content .row .half-adv:nth-child(2) .adv-info {
  top: 25%;
}
/*# sourceMappingURL=ContentPage.css.map */